@model UserDB.Models.Board

@{
    ViewBag.Title = "Board";
    UserDB.Models.Board b = new UserDB.Models.Board(); //instantiate board - eventually add parameter to determine load board or start new
    {
        <html>
        
        <head>
            <title>Game</title>
            <script src="~/scripts/TileMappings.js" type="text/javascript"></script>
            <script src="~/scripts/jquery-1.9.1.js" type="text/javascript"></script>
            <script type="text/javascript">
                function submitWord() {
                    //Pull IDS of letters to transmit as "word"
                    var fullWord = letters.join("");
                    var newScore = wordScore;

                    $.ajax({
                        type: "GET",
                        url: "/Board/checkWord",
                        data: { word: fullWord },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            //$('.processedWord').html(fullWord);
                            finishSubmit(result, fullWord, newScore);
                        },
                        error: function (data) {
                            //$('.processedWord').html(fullWord);
                            window.alert("Failure");
                        }
                    });
                }

                function finishSubmit(result, word, score) {
                    if (result) {
                        window.alert("Correct! You earned " + score + " points for '" + word + "'.");
                        for (var i = 0; i < wordIds.length; i++) {
                            document.getElementById(wordIds[i]).disabled = true;
                            document.getElementById(wordIds[i]).setAttribute("style", "visibility:hidden;");
                            //document.getElementById(wordIds[i]).setAttribute("style", "background-color:maroon; color:gold;");
                        }

                    }
                    else {
                        score = 0;
                        window.alert("Wrong! You earned " + score + " points for '" + word + "'.");
                        for (var i = 0; i < wordIds.length; i++) {
                            document.getElementById(wordIds[i]).setAttribute("style", "background-color:white; color:black;");
                            document.getElementById(wordIds[i]).setAttribute("data-owner", "EMPTY");
                        }
                    }

                    letters = [];
                    wordIds = [];
                    totalScore += score;
                    window.alert("Your total score is " + totalScore + ".");
                    wordScore = 0;
                }
            </script>
        </head>
        <body onLoad="window.scroll(0, 140)">
            <link href="~/Content/pop_up_style.css" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="~/scripts/popup.js"></script>

            <div id="blanket" style="display:none;"></div>
            <div id="popUpDiv" style="display:none;"></div>
            <div id="wrapper" style="text-align: center; margin: -30px 0px 52px -1363px;">
                <img id="imgbg" src="/" style="position: absolute;" />
            </div>

            <script>
                // TO DO: get player's school
                var school = "ASU";

                if (school == "ASU") {
                    // ASU background
                    document.getElementById('body').setAttribute("style", "background-color:#6c0018; padding-bottom: 85px;");
                    document.getElementById('imgbg').setAttribute("src", "../Images/bg-asu2.png");
                }
                else if (school == "UofA") {
                    // U of A background
                    document.getElementById('body').setAttribute("style", "background-color:#003366; padding-bottom: 85px;");
                    document.getElementById('imgbg').setAttribute("src", "../Images/bg-uofa2.png");
                }
                else {
                    // undefined school
                    document.getElementById('body').setAttribute("style", "background-color:#333333; padding-bottom: 85px;");
                    document.getElementById('imgbg').setAttribute("style", "visibility:hidden;");
                }

                setInterval(function () {
                    $.ajax({
                        type: "GET",
                        url: "/Home/UpdateUserScore",
                        data: { score: totalScore },
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                        },
                        error: function (data) {
                            window.alert("Poop");
                        }
                    });
                    window.location.href = "http://localhost:60776/";
                }, 65000);
                setInterval(function ()
                {
                    popup('popUpDiv');
                }, 61200);
            </script>

            <link href="~/Content/Board.css" rel="stylesheet" type="text/css" />
            <h1>Find as many words as possible in ONE MINUTE!</h1>
            <div style="text-align: center;">
            <span id="countdown" class="timer">&nbsp;</span>
            </div>
            <script>
                var seconds = 60;
                function secondPassed() {
                    var minutes = Math.round((seconds - 30) / 60);
                    var remainingSeconds = seconds % 60;
                    if (remainingSeconds < 10) {
                        remainingSeconds = "0" + remainingSeconds;
                    }
                    document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
                    if (seconds == 0) {
                        clearInterval(countdownTimer);
                        //document.getElementById('countdown').innerHTML = "TIME'S UP!";
                        document.getElementById('countdown').setAttribute("style", "color:red;");
                    } else {
                        seconds--;
                    }
                }

                var countdownTimer = setInterval('secondPassed()', 1000);
            </script>
            <br />
            <div id="boardDiv" style="position: relative; z-index: 10;">
            <label class="processedWord" id="processedWord">&nbsp;</label>
                <table>
                    @for (int i = 1; i < 8; i++)
                    {
                        <tr>
                            @for (int j = 1; j < 8; j++)
                            {
                                <td>
                                    @{
                                string id = i.ToString() + "." + j.ToString();
                                    }
                                    <button id=@(id) data-owner="EMPTY" data-letter=@(b.tArray[i-1, j-1].getValue()) data-score=@(b.tArray[i-1, j-1].getScore()) onclick="clicked(@(id))">@(b.tArray[i-1, j-1].getValue())</button>
                                </td>
                            }
                        </tr>
                    }
                </table>
                <button type="button" style="width:150px; height:40px; margin: 8px 0px 0px 134px;" onclick="submitWord()">Submit Word</button>
            </div>
        </body>
    </html>
    }
}
