@model UserDB.Models.Board

@{
    ViewBag.Title = "Board";
    UserDB.Models.Board b = new UserDB.Models.Board(); //instantiate board
    {
        <body onload="window.scroll(0, 140)">
            <!--div containers for the gameover popup-->
            <div id="blanket" style="display:none;"></div>
            <div id="popUpDiv" style="display:none;"></div>
            <!--Unfortunately, this is not responsive and will not be loaded if the screen size is less than 1024px-->
            <div id="wrapper" style="text-align: center; margin: -30px 0px 52px -1363px;">
                <img id="imgbg" class="img-responsive" src="/" style="position: absolute;" />
            </div>
            <h4 class="instruction">Find as many words as possible in ONE MINUTE!</h4>
            <div style="text-align: center;">
                <span id="countdown" class="timer">&nbsp;</span>
            </div>
            <br />
            <!--Background image of the boardDiv gets changed when less than 1048px-->
            <div id="boardDiv" style="position: relative; z-index: 10;">
                <!--This is the label that gets changed when a user creates a word-->
                <label class="processedWord" id="processedWord">&nbsp;</label>
                <!--Table of letters and submit button-->
                <table id="table" align="center">
                    @for (int i = 1; i < 8; i++)
                    {
                        <tr>
                            @for (int j = 1; j < 8; j++)
                            {
                                <td>
                                    @{
                                string id = i.ToString() + "." + j.ToString();
                                    }
                                    <button id=@(id) data-owner="EMPTY" data-letter=@(b.tArray[i-1, j-1].getValue()) data-score=@(b.tArray[i-1, j-1].getScore()) onclick="clicked(@(id))">@(b.tArray[i - 1, j - 1].getValue())</button>
                                </td>
                            }
                        </tr>
                    }
                </table>
                <button type="button" style="width:150px; height:40px; margin: 8px 0px 0px 134px;" onclick="submitWord()">Submit Word</button>
            </div>
            <!--This is where all the labels are located for Jquery manipulation-->
            <div id="labels" style="text-align:right">
                <h3 id="ts" style="color:white">Total Score: </h3>
                <h3 id="lsw" style="color:white">Last Submitted Word: </h3>
                <h3 id="ws" style="color:white">Last Word Score: </h3>
            </div>
            <!--Scripts and stylesheets at the bottom for faster loading time-->
            <link href="~/Content/Board.css" rel="stylesheet" type="text/css" />
            <link href="~/Content/pop_up_style.css" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="~/scripts/popup.js"></script>
            <script src="~/scripts/TileMappings.js" type="text/javascript"></script>
            <script src="~/scripts/jquery-1.9.1.js" type="text/javascript"></script>
            <script type="text/javascript" src="~/Scripts/SubmitWord.js"></script>
            <script type="text/javascript" src="~/Scripts/GetBackground.js"></script>
            <script type="text/javascript" src="~/Scripts/Timer.js"></script>
        </body>
    }
}
