@model List<int>
<!--Home Page is responsive-->
@Styles.Render("~/Content/index.css")


<div id="scores">
    <h1>Scores</h1>
    <hr />
</div>

<!--Display the team scores from the average created in the home controller-->
<table>
    <tr id="ASU">
        <td>
            <img class="img-responsive" src="~/Images/ASU.png" />
        </td>
        <td>
            <p><b>@Model.ElementAt(0).ToString()</b></p>
        </td>
    </tr>

    <tr id="UA">
        <td>
            <img class="img-responsive" src="~/Images/UA.png" />
        </td>
        <td>
            <p><b>@Model.ElementAt(1).ToString()</b></p>
        </td>
    </tr>
</table>

<!--Extra new game button in case the user is below the header-->
<a href="/Home/Board" id="startGameLnk">
    <div id="newGameBtn">
        <p>Start New Game >></p>
    </div>
</a>

