@model List<int>
@Styles.Render("~/Content/Ballin.css")


<div id="scores">
    <h1>Daily Scores</h1>
    <hr />
</div>

<table>
    <tr id="ASU">
        <td>
            <img class="img-responsive" src="~/Images/ASU.png" />
        </td>
        <td>
            <p><b>@Model.ElementAt(0).ToString()</b></p>
        </td>
    </tr>
    <tr id="UA">
        <td>
            <img class="img-responsive" src="~/Images/UA.png" />
        </td>
        <td>
            <p><b>@Model.ElementAt(1).ToString()</b></p>
        </td>
    </tr>
</table>

<a href="/Home/Board" id="startGameLnk">
    <div id="newGameBtn">
        <p>Start New Game >></p>
    </div>
</a>

