@model List<int>
@Styles.Render("~/Content/Ballin.css")


<div id="scores">
    <h1>Daily Scores</h1>
    <hr />
</div>

<table>
    </tr>
    <tr id="ASU">
        <td>
            <img src="~/Images/ASU.png" />
        </td>
        <td>
            <p><b>@Model.ElementAt(0).ToString()</b></p>
        </td>
    </tr>
    <tr id="UA">
        <td>
            <img src="~/Images/UA.png" />
        </td>
        <td>
            <p><b>@Model.ElementAt(1).ToString()</b></p>
        </td>
    </tr>
</table>

