@model IEnumerable<UserDB.Models.UserProfile>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{
    <div>
        <h4> @item.UserId </h4>
        <div> @item.UserName </div>
        <hr />
    </div>

}
