@model List<int>
@Styles.Render("~/Content/Ballin.css")

<div id="ASU">
    <h1>ASU</h1>
    <p>Cumulative Score: @Model.ElementAt(0).ToString()</p>
</div>

<div id="UA">
    <h1>UA</h1>
    <p>Cumulative Score: @Model.ElementAt(1).ToString()</p> 
</div>

