@model IEnumerable<UserDB.Models.UserProfile>
@Styles.Render("~/Content/Profile.css")
@{
    ViewBag.Title = "Home Page";
}

<h2>Your Profile</h2>
<hr />

@foreach (var item in Model)
{
        <h4> User Name: </h4><p>@item.UserName</p>
        <h4> School: </h4>
    if (item.University.Equals("ASU"))
    {
        <img src="~/Images/ASU_small.png" />
    }
    else
    {
        <img src="~/Images/UA_small.png" />
    }
        <h4> High Score: </h4><p>@item.highScore</p>
        <br />
}